<div class="container w-50 mt-5 border shadow p-5">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <h2>Sign Up</h2>
        <div class="mb-3">
          <label for="id1" class="form-label">Name</label>
          <input type="text" class="form-control" id="id1" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="id2" class="form-label">Mobile-Number</label>
          <input type="text" class="form-control" id="id2" formControlName="mobileNo">
        </div>
        <div class="mb-3">
           <label for="id3" class="form-label">Email address</label>
           <input type="text" class="form-control" id="id3" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="id4" class="form-label">Password</label>
            <input type="password" class="form-control" id="id4" formControlName="password">
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="button" class="btn btn-primary">Sign-Up</button><br> 
        <button type="button" class="btn btn-primary mt-2" routerLink="/login">Login</button>
      </form>
    </div>
